/* SETUP */

/* vars */

:root {

    /* Color Plates */
    --clr1: #4c6c5c;
    --clr2: #5EE4A1;
    --clr3: #ffffff;
    --clr4: #000000;
    --clr5: #5EE4A1;

        /* mq variables */

    --small: 650px;
    --medium: 800px;
    --large: 1050px;
}

/* typography  */
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserratItalic;
    src: url(/fonts/Montserrat-LightItalic.ttf);
}

/* BASICS */

/* base */

body {
    background-color: var(--clr1);
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
    margin: 0 auto;
    box-shadow: -6px -4px 11px #8aa78396;
    border: 2px solid #857272;
}

h2,
.canvas-h2,
.gallery-h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: linear-gradient(to top, #093028, #237a57);
    box-shadow: 0px 0px 20px 8px #499974b3;
}


/* Main - Header */

.main-header {
    height: 110px;
    width: 100%;
    background-color: rgb(169, 124, 124);
    box-shadow: inset 0px -5px 0px var(--clr4);
    margin-right: 0;
}

.header-container {
    height: 100%;
    background-color: #6b7f91;
    box-shadow: -1px 2px 9px #6b7f91;
    color: #5EE4A1;
}

.main-header .main-nav-list {
    margin: 0;
    height: 100%;
    padding: 0;
}

.main-header .main-nav-list a {
    text-decoration: none;
    color: var(--clr4);
    display: flex;
    align-items: center;
    height: 100%;
    width: 6rem;
    justify-content: center;
    border-right: 1px solid var(--clr4);
    font-weight: bold;
}

.main-header .main-nav-list a:hover {
    color: var(--clr3);
    border-bottom: 4px solid var(--clr3);
}


.logo {
    color: var(--clr2);
    cursor: pointer;
}


/* Main - Gallery */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 4px;
}

.gallery-container .photos {
    /* flex-basis: 150px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100px; */
}

.gallery-container .photos img {
    margin: 20px;
    width: 190px;
    height: 190px;
    cursor: pointer;
    border: 2px solid var(--clr4);
    box-shadow: -6px -4px 11px #8aa78396;
    color: var(--clr3);
}


/* Main - Editor - Container --- Tool Bar */
/* Main - Canvas */

.editor-container {
    /* background-color: rgb(129, 136, 142); */
    height: 75vh;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tool-bar .props {
    display: flex;
    background-color: var(--clr3);
    flex-direction: column;
    width: 520px;
    height: 339px;
}

.tool-bar .props>* {
    width: 150px;
    height: 38px;
}

.font-number {
    font-weight: bold;
}

.font-size-btn {
    background-color: rgba(219, 193, 193, 0);
    cursor: pointer;
    border: none;
}

.icon {
    width: 30px;
}


/* HELPERS */

/* Flex Helpers */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* List Helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo {
    font-size: 2.5em;
    color: var(--clr5);
}

.logo span {
    font-weight: bold;
    color: var(--clr3);
}